<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  
  <!-- <% if(dayKind === "Satur" || dayKind === "Sun"){ %>
    <h1 style="color: purple;">It's a <%= dayKind %>day!</h1>
    <% } else { %>
    <h1 style="color: blue;">It's a <%= dayKind %>day!</h1>
    <% } %> -->

  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">
    <% for(let i=0;i<newListItem.length;i++){ %>
    <div class="item">
      <input type="checkbox">
        <p><%= newListItem[i] %></p>
      </div>
    <% } %>
    <form action="/" class="item" method="post">
      <input type="text" name="addListItem" id="addListItem" placeholder="New Item" autocomplete="off">
      <button type="submit">+</button>
    </form>
  </div>

</body>
</html>